In [1]:
%config IPCompleter.greedy=True

In [2]:
import pandas as pd

df_train = pd.read_csv('train_kaggle.csv')
df_train

          Id  label
0          0      0
1          1      0
2          2      0
3          3      0
4          4      0
5          5      0
6          6      0
7          7      0
8          8      1
9          9      0
10        10      1
11        11      0
12        12      0
13        13      0
14        14      1
15        15      0
16        16      0
17        17      1
18        18      0
19        19      0
20        20      0
21        21      1
22        22      0
23        23      0
24        24      0
25        25      0
26        26      0
27        27      1
28        28      0
29        29      0
...      ...    ...
30306  30306      0
30307  30307      0
30308  30308      0
30309  30309      0
30310  30310      0
30311  30311      0
30312  30312      0
30313  30313      0
30314  30314      0
30315  30315      0
30316  30316      0
30317  30317      0
30318  30318      0
30319  30319      0
30320  30320      0
30321  30321      1
30322  30322      0
30323  30323      0
30324  30324      0
30325  30325      0
30326  30326      0
30327  30327      0
30328  30328      0
30329  30329      0
30330  30330      0
30331  30331      0
30332  30332      0
30333  30333      1
30334  30334      0
30335  30335      1

[30336 rows x 2 columns]

In [3]:
import pandas as pd
def load_features(col):
    return pd.read_parquet("filtered_features/filtered_feature{}.gzip".format(col))

In [4]:
import pandas as pd

def load_test_features(col):
    return pd.read_parquet("filtered_test_features/filtered_test_feature{}.gzip".format(col))

In [5]:
NUM_OF_COL = 40

In [6]:
SkipCol = {}
SkipCol[18] = True
SkipCol

{18: True}

In [7]:
y = df_train['label']
y = y.values
y

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [53]:
from sklearn import decomposition
import numpy as np

XTrainAll = []
for col in range(NUM_OF_COL):
    if col in SkipCol:
        continue
    tf = load_features(col)
    XTrainAll.append(tf)
XTrainAll = np.concatenate(XTrainAll,  axis=1)
XTrainAll.shape

(30336, 14136)

In [54]:
np.save('XTrainAll.npy', XTrainAll)

In [55]:
XTestAll = []
for col in range(NUM_OF_COL):
    if col in SkipCol:
        continue
    tf = load_test_features(col)
    tf = tf.replace([np.inf], np.finfo('float32').max).replace([np.inf, -np.inf], np.finfo('float32').min).fillna(0)
    XTestAll.append(tf)
XTestAll = np.concatenate(XTestAll,  axis=1)
XTestAll.shape

(10000, 14136)

In [56]:
np.save('XTestAll.npy', XTestAll)

In [18]:
df_test = pd.read_csv('sample_solution.csv')

In [58]:
y.shape

(30336,)

In [59]:
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import LinearSVC
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier

clf = ExtraTreesClassifier(n_estimators=50)
# clf = GradientBoostingClassifier()
clf = clf.fit(XTrainAll, y)
modelSelection = SelectFromModel(clf, prefit=True, max_features=8000)
XTrain = modelSelection.transform(XTrainAll)
XTrain.shape

(30336, 3248)

In [60]:
np.save('XTrain.npy', XTrain)

In [10]:
import numpy as np
XTrain = np.load('XTrain.npy', allow_pickle=True)
XTrain.shape

(30336, 3248)

In [61]:
XTest = modelSelection.transform(XTestAll)
XTest.shape

(10000, 3248)

In [62]:
np.save('XTest.npy', XTest)

In [11]:
XTest = np.load('XTest.npy', allow_pickle=True)
XTest.shape

(10000, 3248)

In [ ]:
from lightgbm import LGBMModel
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform as sp_randFloat
from scipy.stats import randint as sp_randInt

clf = LGBMModel()
parameters = {'learning_rate': sp_randFloat(),
                  'subsample'    : sp_randFloat(),
                  'n_estimators' : sp_randInt(100, 1000),
                  'max_depth'    : sp_randInt(4, 10) 
                 }

randm = RandomizedSearchCV(estimator=gb_clf, param_distributions = parameters, 
                           cv = 5, n_iter = 10, n_jobs=-1)
randm.fit(XTrain, y)

# Results from Random Search
print("\n========================================================")
print(" Results from Random Search " )
print("========================================================")    

print("\n The best estimator across ALL searched params:\n",
      randm.best_estimator_)

print("\n The best score across ALL searched params:\n",
      randm.best_score_)

print("\n The best parameters across ALL searched params:\n",
      randm.best_params_)

print("\n ========================================================")

gb_clf = randm.best_estimator_

In [14]:
from lightgbm import LGBMClassifier

gb_clf = LGBMClassifier()
gb_clf.fit(XTrain, y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        importance_type='split', learning_rate=0.1, max_depth=-1,
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
        random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [15]:
probs = gb_clf.predict_proba(XTest)
YTest = probs[:, 0]
YTest

array([0.99710675, 0.99656644, 0.98467174, ..., 0.99714569, 0.99830632,
       0.9989995 ])

In [16]:
np.max(YTest)

0.999581969138716

In [19]:
df_test['Predicted'] = YTest
df_test

        Id  Predicted
0        0   0.997107
1        1   0.996566
2        2   0.984672
3        3   0.996327
4        4   0.996763
5        5   0.978892
6        6   0.989070
7        7   0.917925
8        8   0.998916
9        9   0.997564
10      10   0.414963
11      11   0.998324
12      12   0.918754
13      13   0.992236
14      14   0.998388
15      15   0.828825
16      16   0.998524
17      17   0.992237
18      18   0.951665
19      19   0.979782
20      20   0.992039
21      21   0.977111
22      22   0.983074
23      23   0.979626
24      24   0.996340
25      25   0.994036
26      26   0.996778
27      27   0.998319
28      28   0.995921
29      29   0.978321
...    ...        ...
9970  9970   0.995902
9971  9971   0.991663
9972  9972   0.987691
9973  9973   0.973590
9974  9974   0.998342
9975  9975   0.996146
9976  9976   0.994430
9977  9977   0.988502
9978  9978   0.909974
9979  9979   0.995179
9980  9980   0.978175
9981  9981   0.999273
9982  9982   0.997346
9983  9983   0.477578
9984  9984   0.999056
9985  9985   0.999113
9986  9986   0.990759
9987  9987   0.997080
9988  9988   0.999159
9989  9989   0.999057
9990  9990   0.997652
9991  9991   0.998467
9992  9992   0.993133
9993  9993   0.983851
9994  9994   0.998173
9995  9995   0.997592
9996  9996   0.988284
9997  9997   0.997146
9998  9998   0.998306
9999  9999   0.998999

[10000 rows x 2 columns]

In [20]:
df_test.to_csv('test.csv', index=False)